$primaryColor:    #18191a;
$secondaryColor:    #ebebeb;
$thirdColor: #2e2e2e;
$primaryTextColor:   rgb(255, 255, 255);
$secondaryTextColor: #FFBE0B;
$linkTextColor: #57886C;
$linkHover:#3a8aaa;
$font-family-sans-serif: Roboto, sans-serif;
$list-group-bg: #e5e7d500;
$mt-6: 5rem;




$link-color:                              $secondaryTextColor ;
$link-hover-color:                        shift-color() ;